@{
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSNews.CMS_NewsViewModel

<!-- Breadcrumb Area Start-->
@Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Tin tức" }, { "B", "Chi tiết" } })
<!-- Breadcrumb Area End -->

<!-- Blog Deatils Area Start -->
<section class="blog-details-area ptb-100 blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                @if (Model.CMS_News != null)
                {
                    var itemDetail = Model.CMS_News;
                    <img src="@itemDetail.ImageURL" alt="">
                    <h4 class="details-title">@itemDetail.Title</h4>
                    <h5 class="details-title">@itemDetail.Short_Description</h5>
                    <div class="post-information">
                        <a href="#">@itemDetail.CreatedDate.ToString("MM/dd/yyyy")</a>
                        @*<a href="#">Comments (60)</a>*@
                    </div>
                    
                    <div class="social-links fix">
                        <a href="@string.Format("{0}", (Model.CompanyInfor.LinkFB != null) ? Model.CompanyInfor.LinkFB : "#")"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="@string.Format("{0}", (Model.CompanyInfor.LinkBlog != null) ? Model.CompanyInfor.LinkBlog : "#")"><i class="zmdi zmdi-blogger"></i></a>
                        <a href="@string.Format("{0}", (Model.CompanyInfor.LinkTwiter != null) ? Model.CompanyInfor.LinkTwiter : "#")"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="@string.Format("{0}", (Model.CompanyInfor.LinkInstagram != null) ? Model.CompanyInfor.LinkInstagram : "#")"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                    </div>
                }
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="widget">
                    <form id="search-form" action="/Clients/Home/Search" method="get">
                        <div class="search-box">
                            <input type="text" placeholder="Tìm kiếm . . . .">
                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="single-widget">
                    <h4>Thể loại</h4>
                    <ul>
                        @if (Model.ListCate != null && Model.ListCate.Any())
                        {
                            foreach (var item in Model.ListCate)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Product", new { id=item.Id })"><i class="zmdi zmdi-caret-left"></i>@string.Format("{0}", (item.CategoryName.Length > 25) ? (item.CategoryName.Substring(0, 25) + "...") : item.CategoryName)</a>
                                </li>
                            }
                        }
                    </ul>
                    </div>
                <div class="single-widget">
                    <h4>Tin tức mới</h4>
                    @if (Model.ListNewsNew != null && Model.ListNewsNew.Any())
                    {
                        foreach (var item in Model.ListNewsNew)
                        {
                            <div class="recent-item">
                                <a href="@Url.Action("NewsDetail", "News", new { id=item.Id })"><img src="@item.ImageURL" alt="@item.Title"></a>
                                <div class="recent-text">
                                    <h5><a href="@Url.Action("NewsDetail", "News", new { id=item.Id })">@string.Format("{0}", (item.Title.Length > 25) ? (item.Title.Substring(0, 25) + "...") : item.Title)</a></h5>
                                    <div class="recent-info">
                                        <a href="#">@string.Format("{0}", (item.CreatedBy.Length > 25) ? (item.CreatedBy.Substring(0, 25) + "...") : item.CreatedBy)</a>
                                        <a href="#"><i class="zmdi zmdi-comments"></i>1</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="single-widget">
                    <h4>Phổ biến</h4>
                    <div class="tags">
                        <ul>
                            @if (Model.ListProduct != null && Model.ListProduct.Any())
                            {
                                foreach (var item in Model.ListProduct)
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Product")"><img src="@item.ImageURL" alt="@item.ProductName" style="width: 67px; height: 70px; "></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
<!-- Blog Deatils Area End -->

<script type="text/javascript">
</script>


