@{
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSProduct.ProductViewModels
@{ 
    var _ListSlider = Session["SliderSession"] as List<CMS_DTO.CMSSession.SliderSession>;
}
<!-- Background Area Start -->
<section class="slider-area">
    <div class="slider-wrapper">
        @if (_ListSlider != null && _ListSlider.Any())
        {
            foreach (var item in _ListSlider)
            {
                <div class="single-slide" style="background-image: url('@Url.Content(item.ImageUrl)');">
                    <div class="banner-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                    <div class="text-content-wrapper">
                                        <div class="text-content text-center">
                                            <h3 class="pt-70">welcome our Koffee</h3>
                                            <h1>Cuộc sống và năng lượng của bạn</h1>
                                            <p>Bạn có thể khám phá được tất cả các đồ uống cafe mà bạn muốn khi truy cập tới website của chúng tôi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
<!-- Background Area End -->

<!-- Contact Info Start -->
@if (Model.Company != null)
{
    <section class="contact-area fix pb-30">
        <div class="single-contact">
            <div class="information text-center">
                <h4><span>Điện thoại : </span>@Model.Company.Phone</h4>
            </div>
        </div>
        <div class="single-contact">
            <div class="information text-center">
                <h4><span>Email :</span>@Model.Company.Email</h4>
            </div>
        </div>
        <div class="single-contact">
            <div class="information text-center">
                <h4 title="@Model.Company.Address"><span>Địa chỉ :</span>@string.Format("{0}",!string.IsNullOrEmpty(Model.Company.Address) && Model.Company.Address.Length > 26 ? Model.Company.Address.Substring(0,25) + "..." : Model.Company.Address)</h4>
            </div>
        </div>
        <div class="single-contact">
            <div class="information text-center">
                <h4><span>Giờ mở cửa :</span>@Model.Company.Businesshour</h4>
            </div>
        </div>
    </section>
}

<!-- Contact Info End -->

<!-- About Area Start -->
<section class="about-area pt-70 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-container">
                    <div class="about-text">
                        <h3>Hồ Xuân Sơn Coffee</h3>
                        <p>Công ty TNHH Cà phê Hồ Xuân Sơn tiếng Anh ( Xuanson lake coffee ,.LTD ) có trụ sở tại thôn xuân sơn xã xuân trường TP Đà Lạt tỉnh Lâm đồng. Cty hoạt động chủ yếu trong lĩnh vực trồng và chế biến cafe Arabica, MoKa, Typica tại thung lũng hồ thủy lợi tự nhiên thuộc thôn Xuân Sơn xã Xuân trường TP Đà Lạt. Cty có cửa hàng trưng bày sản phẩm tại nhà ga cổ Đà Lạt 01 Quang Trung tp Đà Lạt và các cửa hàng bán sản phẩm ở Sài gòn và Hà Nội.
                        </p>
                        <p>Tiêu chí của Cty là đưa café Arabica thơm, tinh túy của xứ Cầu đất Đà Lạt đến tay người tiêu dùng ở các vùng nông thôn Việt Nam, cung cấp café nhân sạch cho các nhà sản xuất và chế biến café nguyên chất.</p>
                        @*<a href="javascript:void(0)" class="default-btn"><span>Xem thêm</span></a>*@
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs">
                <div class="about-image">
                    <img src="@Url.Content("~/Images/banner/aboutUs.jpg")" style="width:80% !important" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<!-- Special Area Strat -->
<section class="special-area bg-light ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title text-center">
                    <h1>Coffee đặc biệt</h1>
                    <span><img src="@Url.Content("~/Images/banner/koffee.png")" alt=""></span>
                    <p>Bạn có thể khám phá được tất cả các đồ uống cafe mà bạn muốn khi truy cập tới website của chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @if (Model != null && Model.ListCate != null && Model.ListCate.Any())
        {
            foreach (var item in Model.ListCate)
            {
                <div class="special-item">
                    <div class="item-content">
                        @if (string.IsNullOrEmpty(item.ImageURL))
                        {
                            <img src="@Url.Content("~/Images/banner/1.jpg")" alt="">
                        }
                        else
                        {
                            <img src="@Url.Content(item.ImageURL)" alt="">
                        }
                        
                        <div class="item-hover text-center">
                            <div class="hover-text">
                                <h1><a href="javascript:void(0)">@string.Format("{0}", (item.CategoryName.Length > 18) ? (item.CategoryName.Substring(0, 18) + "...") : item.CategoryName)</a></h1>
                                <p>@Html.Raw(item.Description)</p>
                               @* <span class="price">$20.00</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
<!-- Special Area End -->

<!-- Advertise Area Start -->
<section class="advertise-area bg-1 ptb-100 overlay-1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="advertise-text text-center">
                    <h1>Bắt đầu ngày mới với mục tiêu của bạn</h1>
                    <p>Thưởng thức những sản phẩm mang đúng thương hiệu cà phê Đà Lạt mà chúng tôi mang đến cho bạn.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Advertise Area End -->

<!-- Menu Area Start -->
<section class="menu-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title text-center">
                    <h1>Sản phẩm chúng tôi</h1>
                    <span><img src="@Url.Content("~/Images/banner/koffee.png")" alt=""></span>
                    <p>Sản phẩm nguyên chất làm từ nguyên liệu được sản xuất trực tiếp tài thành phố Đà Lạt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.ListProduct != null && Model.ListProduct.Any())
            {
                foreach (var item in Model.ListProduct)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-menu text-center">
                            <div class="menu-image">
                                <span>@item.ProductPrice</span>
                                <a href="javascript:void(0)">
                                    @if (string.IsNullOrEmpty(item.ImageURL))
                                    {
                                        <img src="@Url.Content("~/Images/banner/s-1.jpg")" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(item.ImageURL)" alt="">
                                    }
                                </a>
                            </div>
                            <h4><a href="javascript:void(0)">@item.ProductName</a></h4>
                            <span>@Html.Raw(item.Description) </span>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
<!-- Menu Area End -->

 <!-- Event Area Start -->
<section class="event-area ptb-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="event-text text-center">
                    <h1>Tham gia để trải nghiệm cùng với chúng tôi</h1>
                    <h1 class="event-title">Hợp tác<span>cùng sự phát triển lâu dài</span></h1>
                    <p>Chúng tôi luôn cam kết mang lại sản phẩm uy tín - chất lượng - phục vụ nhanh chóng.</p>
                    @*<div class="event-btn">
                        <a href="javascript:void(0)" class="default-btn"><span>Reservation Now</span></a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Area End -->

<!-- Team Area Start -->
<section class="team-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title text-center">
                    <h1>Thành viên chúng tôi</h1>
                    <span><img src="@Url.Content("~/Images/banner/koffee.png")" alt=""></span>
                    <p>Trở thành đối tác với chúng tôi. Bạn có thể khám phá được tất cả các đồ uống cafe mà bạn muốn khi truy cập tới địa chỉ các cá nhân bên dưới.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.ListEmployee != null && Model.ListEmployee.Any())
            {
                foreach (var item in Model.ListEmployee)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-team">
                            <a href="#"><img src="@Url.Content(item.ImageURL)" alt=""></a>
                            <div class="team-text text-center">
                                <h4><a href="#">@item.FullName</a></h4>
                               @* <h5>Senior Accountants</h5>*@
                                <div class="team-links">
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-dribbble"></i></a>
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-pinterest"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Team Area End -->

<!-- Client Area Start -->
<section class="client-area bg-2 overlay-1 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="testimonial-carousel">
                    <div class="single-tesimonial text-center">
                        <p>Bạn có thể khám phá được tất cả các đồ uống cafe mà bạn muốn khi truy cập tới website của chúng tôi.</p>
                        <div class="client-rating">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </div>
                        <h4><a href="#">Nhà máy sản xuất</a></h4>
                    </div>
                    <div class="single-tesimonial text-center">
                        <p>Bạn có thể khám phá được tất cả các đồ uống cafe mà bạn muốn khi truy cập tới website của chúng tôi.</p>
                        <div class="client-rating">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </div>
                        <h4><a href="#">Khu sản xuất</a></h4>
                    </div>
                    <div class="single-tesimonial text-center">
                        <p>Thưởng thức những sản phẩm mang đúng thương hiệu cà phê Đà Lạt mà chúng tôi mang đến cho bạn.</p>
                        <div class="client-rating">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </div>
                        <h4><a href="#">Thành phẩm</a></h4>
                    </div>
                    <div class="single-tesimonial text-center">
                        <p>Sản phẩm nguyên chất làm từ nguyên liệu được sản xuất trực tiếp tài thành phố Đà Lạt.</p>
                        <div class="client-rating">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </div>
                        <h4><a href="#">Uy tín - chất lượng</a></h4>
                    </div>
                    <div class="single-tesimonial text-center">
                        <p>Chúng tôi luôn cam kết mang lại sản phẩm uy tín - chất lượng - phục vụ nhanh chóng.</p>
                        <div class="client-rating">
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star"></i>
                            <i class="zmdi zmdi-star-half"></i>
                        </div>
                        <h4><a href="#">Phục vụ nhanh chóng</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="single-client-container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/1.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/2.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/3.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/4.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/5.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <a class="single-client" href="#">
                                <span class="client-table-cell">
                                    <img src="@Url.Content("~/Images/client/6.jpg")" alt="" style="width: 175px; height: 110px; ">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Area End -->

<!-- Blog Area Start -->
<section class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title text-center">
                    <h1>Tin tức hàng ngày</h1>
                    <span><img src="@Url.Content("~/Images/banner/koffee.png")" alt=""></span>
                    <p>Bạn có thể tìm hiểu được tất cả các thức uống mà bạn muốn khi bạn thường xuyên theo dõi cập nhập tin tức từ trang web của chúng tôi.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-carousel">
                @if (Model.ListNews != null && Model.ListNews.Any())
                {
                    foreach (var item in Model.ListNews)
                    {
                        <div class="col-xs-12">
                            <div class="single-blog">
                                <a href="@Url.Action("NewsDetail", "News", new {id=item.Id })" class="blog-image">
                                    @if (string.IsNullOrEmpty(item.ImageURL))
                                    {
                                        <img src="@Url.Content("~/Images/banner/1.jpg")" alt="">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(item.ImageURL)" alt="">
                                    }
                                </a>
                                <div class="blog-text text-center">
                                    <span>@item.CreatedDate.ToString("dd/MM/yyyy")</span>
                                    <h4><a href="@Url.Action("NewsDetail", "News", new {id=item.Id })">@item.Title</a></h4>
                                    <p>@item.Short_Description</p>
                                    <a href="@Url.Action("NewsDetail", "News", new {id=item.Id })">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->