@model CMS_DTO.CMSProduct.ProductViewModels
@using CMS_Shared;
@{
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Area Start-->
@Html.Partial("_breadcrumb", new Dictionary<string, string> { { "A", "Trang chủ" }, { "B", "Sản phẩm" } })
<!-- Breadcrumb Area End -->

<!-- Breadcrumb Area End -->
<!-- Menu Area Start -->
<section class="menu-area ptb-100 menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title text-center">
                    <h1>Sản phẩm chúng tôi</h1>
                    <span><img src="@Url.Content("~/Images/banner/koffee.png")" alt=""></span>
                    <p>Sản phẩm nguyên chất làm từ nguyên liệu được sản xuất trực tiếp tài thành phố Đà Lạt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.ListProduct != null && Model.ListProduct.Any())
            {
                foreach (var item in Model.ListProduct)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-menu text-center">
                            <div class="menu-image">
                                <span>@item.ProductPrice</span>
                                <a href="javascript:void(0)">
                                    @if (string.IsNullOrEmpty(item.ImageURL))
                                    {
                                        <img src="@Url.Content("~/Images/banner/s-1.jpg")" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content(item.ImageURL)" alt="">
                                    }
                                </a>
                            </div>
                            <h4><a href="javascript:void(0)">@item.ProductName</a></h4>
                            <span>@Html.Raw(item.Description) </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Menu Area End -->

<script type="text/javascript">
    $(document).ready(function () {

    })
</script>